In [90]:
import numpy as np
import pandas as pd

In [91]:
data = pd.read_csv('Advertising_data.csv')
data.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

In [69]:
X = data.iloc[:,:-1]
Y = data.iloc[:,4]

In [70]:
X.head()

    User ID  Gender   Age  EstimatedSalary
0  15624510    Male  19.0          19000.0
1  15810944    Male  35.0          20000.0
2  15668575  Female  26.0          43000.0
3  15603246  Female  27.0          57000.0
4  15804002    Male  19.0          76000.0

In [71]:
gender = pd.get_dummies(data['Gender'], drop_first = True)

In [72]:
X.drop(['Gender','User ID'], inplace=True, axis=1)

In [73]:
X=pd.concat([X,gender], axis=1)

In [74]:
X.head()

    Age  EstimatedSalary  Male
0  19.0          19000.0     1
1  35.0          20000.0     1
2  26.0          43000.0     0
3  27.0          57000.0     0
4  19.0          76000.0     1


# Implementing Support Vector Machine

In [75]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=5)

In [76]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [77]:
from sklearn.svm import SVC
classifier = SVC(kernel='linear', random_state=0)
classifier.fit(X_train, Y_train)

SVC(kernel='linear', random_state=0)

In [79]:
y_pred = classifier.predict(X_test)

In [80]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, y_pred)

array([[61,  5],
       [ 9, 25]], dtype=int64)

In [81]:
from sklearn.metrics import accuracy_score
score = accuracy_score(Y_test, y_pred)
print(score)

0.86

# GridSearch Cross Validation

In [87]:
from sklearn.model_selection import GridSearchCV
parameters = [
    {'C': [1.0, 10.0, 100.0, 1000.0], 'kernel': ['linear']},
    {'C': [1.0, 10.0, 100.0, 1000.0], 'kernel': ['rbf'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]},
    {'C': [1.0, 10.0, 100.0, 1000.0], 'kernel': ['poly'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}]
grid_search = GridSearchCV(estimator = classifier, 
                           param_grid = parameters,
                          scoring = 'accuracy',
                          cv = 10,
                          n_jobs = -1)
grid_search = grid_search.fit(X_train, Y_train)

# Best Score with Grid Search CV

In [94]:
print(grid_search.best_score_)

0.9066666666666666

# Best Parameters with Grid Search CV

In [92]:
grid_search.best_params_

{'C': 1.0, 'gamma': 0.7, 'kernel': 'rbf'}

In [98]:
from sklearn.svm import SVC
classifier = SVC(C=1, gamma = 0.7, kernel='rbf', random_state=0)
classifier.fit(X_train, Y_train)
y_pred = classifier.predict(X_test)
print(accuracy_score(Y_test, y_pred))

0.93